     <ion-card *ngFor="let item of news">

        <ion-row>

            <ion-col col-9 text-justify (click)="openDetails(item.id)">


                    {{item.topic}}

                <ion-row  padding-top>
                    <ion-note>
                    <span item-left> <ion-icon name="text"></ion-icon>
                {{iS.getInits().agencies[item.agency].title}}
            </span>
            <span item-left> <ion-icon name="text"></ion-icon>
                {{pF.convertTime(item.release_date)}}
            </span>
                    </ion-note></ion-row>

            </ion-col>
            <ion-col col-3>
                <img *ngIf="item.image_links!=''" src="{{item.image_links}}">
            </ion-col>


        </ion-row>



</ion-card>
